<app-pala></app-pala>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Represion</h3>

        </div>
        <div class="w-100"></div>
        <div class="col-6 offset-3 text-center offset-md-3">
            <p>Un Paladín Represión es una especialización de DPS que tiene habilidades poderosas contra un solo objetivo pero todas dependientes de enfriamiento. Aunque también tiene juego con varios objetivos, debe seguir una rotación muy estricta para hacer la mayor cantidad de daño.
            </p>
<img class="img-fluid" src="/assets/talentos/talentosrepre.jpg">
          
        </div>

    </div>

</div>

