<app-lock></app-lock>
<div class="row">
    <div class="col-12 text-center">
        <h3>Destruccion</h3>

    </div>
    <div class="w-100"></div>
    <div class="col-6 offset-3  text-center offset-md-3">
        <p>Como Paladín heal, puede esperar desempeñar el papel de un sanador sólido y confiable. En general, su capacidad de aguantar daños será relativamente suave, con muchos ataques bloqueados por su escudo o suavizados por su fuerte mitigación activa. Ninguna otra clase de tanques tiene tantos trucos bajo la manga como un paladín.

        </p>
<img class="img-fluid" src="/assets/talentos/destru.jpg">
      
    </div>

</div>

