<app-chaman></app-chaman>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 offset-md-3 ">
            <h3 class="text-center">Elemental</h3>
            <p>El Chamán Elemental es un lanzador de hechizos que inflige daño con un juego de herramientas rico y flexible. Los chamanes elementales pueden acercarse a una multitud de entornos sin sentirse comprometidos. A través de ciertos talentos,el elemental también puede proporcionar un daño en area muy significativo, lo que les permite avanzar durante verificaciones de daño cortas o jefes de mazmorras. En general, esta especialización tiene una capacidad o talento para cada escenario, aunque puede faltar su daño objetivo único sostenido.
















            </p>
    <img class="img-fluid py-5" src="/assets/talentos/chamielemental.jpg">


   
        </div>

   
    </div>
</div>