<app-war></app-war>
<div class="container">
    <div class="row">
        <div class="col-6 ">
            <h3 class="text-center">Armas</h3>
<p>Los Guerreros Armas en Battle for Azeroth son poderosos monstruos que giran en torno a una habilidad que destroza al enemigo, <strong>Machaque colosal.</strong> Su mayor fortaleza viene en la forma de un juego de herramientas increíblemente versátil, que permite que los Guerreros Armas se adapten a prácticamente cualquier situación, particularmente cuando se enfrentan a múltiples oponentes.
    <img class="img-fluid py-5" src="/assets/talentos/guearms.jpg">

</p>

   
        </div>
        <div class="col-6">
            <h3 class="text-center">Furia</h3>
            <p>Los Guerrero Furia tienen una jugabilidad muy suave con un único objetivo consistente, una división pasiva de múltiples destinos y una rotación optimizada en la que <strong>Desenfreno y Enfurecer</strong> son los elementos más importantes de la jugabilidad, mientras que los beneficios de celeridad incorporados hacen de Furia una de las especialidades de acción más rápidas del juego. Además de un conjunto de herramientas ofensivo bien redondeado, Furia cuenta con alta movilidad, auto curación fuerte y uno de los pocos enfriamientos defensivos en todo el juego.
<img  class="img-fluid"src="/assets/talentos/talentoswarfuria.jpg">
            </p>
   
        </div>
   
    </div>
</div>

