<app-war></app-war>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Proteccion</h3>

        </div>
        <div class="w-100"></div>
        <div class="col-6 offset-3 text-center offset-md-3">
            <p>Los Guerreros Protección se destacan en peleas con grandes cantidades de daño físico, o donde se necesita movilidad. Gran parte del daño que reciben se mitiga mediante el bloqueo, lo que hace que su consumo de daños sea suave y predecible. Además, proporcionan una buena cantidad de utilidad, ya sea control de multitudes o incursiones. Son un tanque formidable a su alrededor, lo que los convierte en una opción digna tanto en redadas como en mazmorras.
<img class="img-fluid" src="/assets/talentos/talentoswartank.jpg">
            </p>
        </div>

    </div>

</div>
