

<h1 class="text-center">Levear de 10 a 120</h1>
<div class="container" >

    
    <div class="row">
        <div class="col-6 col-md-6">
            <p class="text-center">Antes de empezar primero necesitas hablar con un angel que estara en Orgrimmar y pedir que te de la Experiencia x10</p> 
            <img class="img-fluid py-4" src="/assets/imgLeveo/ang.jpg">
        </div>
        <div class="col-6 col-md-6">
            <p class="text-center">Despues Tendras que <strong>Presionar la tecla N</strong> luego talentos y <strong>activar el modo guerra</strong> para aumentar la experiencia de matar bichos y hacer misiones</p>
      
            <img  class="img-fluid" src="/assets/imgLeveo/warm.jpg">
        </div>
        <div class="w-100"></div>
        <div class=" col-12 col-md-12 text-center">
            <h1 >Nivel 10 a 60 </h1>
            <p>Puedes elegir estas dos zonas que son las que estan mas cerca cualquiera de las dos sera buena opcion</p>
        </div>
        <div class="w-100"></div>
       
        <div class="col-6 col-md-6 text-center">
   
           <h2 >ValleFresno</h2>
            <img  class="img-fluid " src="/assets/imgLeveo/valle.jpg">
        </div>
        <div class="col-6 col-md-6 text-center">
            <h2>Los Baldios</h2>
        
            <img  class="img-fluid"src="/assets/imgLeveo/baldio.jpg">
        </div>


        <div class="w-100"></div>
        <div class=" col-12 col-md-12 text-center py-2">
            <h1 >Nivel 60 a 80 </h1>
            <p>Ahora tendras que ir a Rasganorte y las zonas que te recomiendo levear es en </p>
        </div>
            <div class="col-6  col-md-6">
                <img  class="img-fluid"src="/assets/imgLeveo/colinas1.jpg">

            </div>
            <div class="col-6  col-md-6">
                <img  class="img-fluid"src="/assets/imgLeveo/tundras.jpg">

            </div>
            
    
            
    
        
       
        <div class="col-6 col-md-6 text-center">
   
           <h2>Colinas Pardas</h2>
            <img class="img-fluid"src="/assets/imgLeveo/colinas.jpg">
       

        </div>
        <div class="col-6 col-md-6 text-center">
            <h2>Tundra Boreal</h2>
        
            <img  class="img-fluid"src="/assets/imgLeveo/tundra.jpg">
       

        </div>




        <div class="w-100"></div>
        <div class=" col-12 text-center">
            <h1 >Nivel 80 a 90 </h1>
           <p> Ahora puedes elegir ir a Kalimdor o a Pandaria </p>
        </div>
        <div class="w-100"></div>
           <div class="col-6 col-md-6">

<img class="img-fluid " src="/assets/imgLeveo/month.jpg">

           </div>
           <div class="col-6 col-md-6">
               
            <img class="img-fluid " src="/assets/imgLeveo/pandaria22.jpg">
        
        
        
        </div>
      
    
       
        <div class="col-6 col-md-6 text-center">
   
           <h2>Monte Hyal</h2>
            <img  class="img-fluid" src="/assets/imgLeveo/monte.jpg">
       

        </div>
        <div class="col-6 col-md-6 text-center">
            <h2>Pandaria</h2>
        
            <img  class="img-fluid"src="/assets/imgLeveo/pandariazone.jpg">
        </div>
    </div>
</div>
