<app-pala></app-pala>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Proteccion</h3>

        </div>
        <div class="w-100"></div>
        <div class="col-6 offset-3 text-center offset-md-3">
            <p>Como Paladín Protección, puede esperar desempeñar el papel de un tanque sólido y confiable. En general, su capacidad de aguantar daños será relativamente suave, con muchos ataques bloqueados por su escudo o suavizados por su fuerte mitigación activa. Ninguna otra clase de tanques tiene tantos trucos bajo la manga como un paladín.

            </p>
<img class="img-fluid" src="/assets/talentos/palprotec.jpg">
          
        </div>

    </div>

</div>
