<div class="container">
<div class="row">
    <div class="col-12 text-center">
        <h1>Elige tu Clase</h1>
    </div>
    <div class="w-100 py-3"></div>
    <div class="col-3 col-md-2 text-center ">
    <a [routerLink]="['/talentos']"><img class="img-fluid "src="assets/talentos/war.jpg"></a>   
<h5>Guerrero</h5>
    </div>
    <div class="col-3 col-md-2 text-center ">
        <a [routerLink]="['/paladin']"><img class="img-fluid btn"src="assets/talentos/pala.jpg"></a>
 <h5>Paladin</h5>
     </div>
     <div class="col-3  col-md-2 text-center ">
         <a [routerLink]="['/talentos']"><img class="img-fluid btn"src="assets/talentos/mago.jpg">
         </a>
 <h5>Mago</h5>
     </div>
     <div class="col-3  col-md-2 text-center ">
         <a [routerLink]="['/guerrero']">  <img class="img-fluid btn"src="assets/talentos/chaman.jpg">
         </a>
 <h5>Chaman</h5>
     </div>
     <div class="col-3 col-md-2 text-center ">
         <a [routerLink]="['/guerrero']"> <img class="img-fluid btn"src="assets/talentos/sacer.jpg"></a>
 <h5>Sacerdote</h5>
     </div>
     <div class="col-3 col-md-2 text-center ">
         <a [routerLink]="['/guerrero']">  <img class="img-fluid btn"src="assets/talentos/brujo.jpg"></a>
      
 <h5>Brujo</h5>
     </div>
     <div class="col-12 text-center ">
         <h1>Especializacion</h1>

     </div>
     <div class="w-100"></div>
     <div class="col-2 offset-md-1" >
         <img class="img-fluid"src="/assets/talentos/dps.png">

     </div>
     <div class="col-2 offset-md-2" >
        <img class="img-fluid"src="/assets/talentos/tanke.jpg">

    </div>
    <div class="col-2 offset-md-2 " >
        <img class="img-fluid"src="/assets/talentos/heal.png">

    </div>
</div>
</div>
