<div class="container p-2">
    <div class="row">
        <div class="col-4 offset-md-4 ">
            <img class="img-fluid"src="/assets/img/bfa.jpg">
            <h1>IMPRESCINDIBLES</h1>


        </div>
        <div class="w-100 py-4"></div>
        <div class="col-6 text-center ">
            <h1>Addon Recount</h1>
            <h4>Para que sirve?</h4>
            <p>"Recount"  analiza automáticamente el registro de combates y calcula el DPS (damage-per-second - daño por segundo) de los personajes involucrados en una batalla.</p>
 <img class="img-fluid"src="/assets/addons/recount.png">
<div class="col-12 py-2">
    <a class="btn btn-danger" href="https://media.forgecdn.net/files/2941/174/Recount-v8.3.0d.zip">Descargarlo</a>


</div>

</div>
<div class="col-6 text-center">
    <h1>Addon DBM</h1>
    <h4>Para que sirve?</h4>
    <p>DBM es un addon que nos avisa de las habilidades de los jefes de banda </p>
<img class="img-fluid"src="/assets/addons/dbm.jpg">
<div class="col-12 py-2">
<a class="btn btn-danger" href="https://media.forgecdn.net/files/2967/187/DBM-Core-8.3.23.zip">Descargarlo</a>


</div>

</div>

<div class="col-12">
    <h1 class="text-center">Instalacion</h1>

</div>
<div class="w-100"></div>
<div class="col-4 text-center">
    <h4>1</h4>

    <img class="img-fluid" src="/assets/addons/conf1.png">



</div>
<div class="col-4 text-center">
    <h4>2</h4>

    <img class="img-fluid" src="/assets/addons/2.png">



</div>
<div class="col-4 text-center">
    <h4>3</h4>
    <img class="img-fluid" src="/assets/addons/sd.png">



</div>
    </div>
