<app-mago></app-mago>
<div class="container">
    <div class="row">
        <div class="col-4 ">
            <h3 class="text-center">Fuego</h3>
            <p>La especialización de Fuego es fantástica a la hora de hacer daño en el tiempo y sostenido en una variedad de tipos de lucha. El fuego corta de manera extremadamente eficiente en objetivos apilados, ganando daño general sin sacrificar ningún daño de objetivo único. El fuego realmente brilla en las peleas donde una multitud de objetivos juntos tienen igual o mayor prioridad. Al igual que todas las especializaciones de Mago, Fuego tiene una alta movilidad y es fantástico para realizar ataques específicos y mecánicos. Entre Traslación, Buena racha y Agostar, los encuentros de alto movimiento tienen un impacto mínimo en la producción total de Fuego.

            </p>
    <img class="img-fluid py-3" src="/assets/talentos/magefire.jpg">


   
        </div>
        <div class="col-4">
            <h3 class="text-center">Escarcha</h3>
            <p>El Mago Escarcha siempre ha sobresalido al limitar el movimiento del enemigo al tiempo que inflige una salida de daño confiable y predecible. Escarcha siempre ha sido una opción muy potente para la nivelación y el contenido mundial, ya que puedes atacar a los enemigos sin cesar, con una multitud de trampas y combos con daño en movimiento. Escarcha es excelente para derribar rápidamente las mejoras de prioridad, ya sea manteniendo la Maestría: Carámbanos para Pica glacial o sosteniendo para una ráfaga rápida. Al igual que todas las especializaciones de mago, escarcha tiene una gran movilidad y es fantástico para hacer trabajos específicos de encuentro y mecánicos de hostigamiento. Entre Témpanos de hielo, Centelleo y una variedad de hechizos de lanzamiento instantáneo, los encuentros de alto movimiento tienen un impacto mínimo en la producción general de escarcha.

            </p>
<img  class="img-fluid"src="/assets/talentos/magescarcha.jpg">
   
        </div>
        <div class="col-4">
            <h3 class="text-center">Arcano</h3>
            <p>La especialización Arcano es muy singular  El juego central gira en torno al gasto de maná, presentando al jugador dos “fases” distintas de la rotación; “Consumo” y “Conservar”. Durante la fase “Conservar”, el jugador aspira a permanecer neutral en cuanto a maná hasta que esté disponible el tiempo de reutilización de Evocación. Durante la fase “Consumo”, el jugador gasta todo su Maná disponible mientras sus tiempos de reutilización están activos, restaurando su Maná al máximo con Evocación cuando se secan y volviendo a entrar en la fase “Conservar”. Esta dicotomía ofrece al jugador una experiencia única que es desafiante y gratificante.

            </p>
<img  class="img-fluid"src="/assets/talentos/arcanom.jpg">
   
        </div>
   
    </div>
</div>