<app-talentos></app-talentos>
<div class="row">
    <div class="col-12 text-center ">
        <h1>Especializacion</h1>
    </div>
    <div class="w-100"></div>
    <div class="col-4 offset-2 col-md-2 offset-md-4">
       <a class="btn "[routerLink]="['/talentos/chaman/dps']"><img class="img-fluid" src="/assets/talentos/dps.png"></a> 
    </div>
    
    <div class="col-4 col-md-2  ">
        <a class="btn" [routerLink]="['/talentos/chaman/heal']">  <img class="img-fluid" src="/assets/talentos/heal.png">
        </a>

    </div>

</div>