<div class="container-fluid p-0">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">



        <img src="/assets/img/wow.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Addons</h5>
          <p>Guia de como instalar y descargar Addons para levear</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/wow2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Levear</h5>
          <p>Guia de donde levear en las mejores zonas</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/wow3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Talentos</h5>
          <p>Guia de que talentos elegir para cada especialidad</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 offset-md-3">


    </div>
    <div class="w-100 py-3"></div>
    <div class="col-12 text-center">
      <h2>Personajes Historicos</h2>
    </div>
    <div class="col-6 text-center">
      <h3>Arthas</h3>
      <a class="btn">  <img class=" img-thumbnail img-fluid " src="/assets/img/arthas.jpg">
      </a>
    </div>
    <div class="col-6 text-center">
      <h3>Thrall</h3>
      <a class="btn">      <img class=" img-thumbnail img-fluid" src="/assets/img/tral.jpg">
      </a>
    </div>

    <div class="w-100 py-2"></div>

    <div class="col-6 text-center ">
      <h3>Garrosh</h3>
      <a class="btn">   <img class=" img-thumbnail img-fluid" src="/assets/img/garrosh.jpg">
      </a>
    </div>
    <div class="col-6 text-center">
      <h3>Jaina</h3>
      <a class="btn">      <img class=" img-thumbnail img-fluid" src="/assets/img/jaina.jpg">
      </a>
    </div>
    <div class="w-100 py-2"></div>
    <div class="col-6 text-center">
      <h3>Neltharion</h3>
      <a class="btn">      <img class=" img-thumbnail img-fluid" src="/assets/img/ala.jpg">
      </a>

    </div>
    <div class="col-6 text-center">
      <h3>Illidan</h3>
      <a class="btn">      <img class=" img-thumbnail img-fluid" src="/assets/img/ilidan.jpg">
      </a>
    </div>
    <div class="col-6 text-center">
      <h3>Sylvannas</h3>
      <a class="btn">      <img class=" img-thumbnail img-fluid" src="/assets/img/sylvanas.jpg">
      </a>
    </div>
    <div class="col-6 text-center">
      <h3>Varok</h3>
      <a class="btn">      <img class=" img-thumbnail img-fluid" src="/assets/img/varok.jpg">
      </a>
    </div>
  </div>
</div>